body { 
    background-image: url("lavender-background.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 550;
    color: #1a0900; 
    background-color:  #f2c4c4;  
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

.quiz-container {
    background-image: url("quizback.png");
        background-size: cover;
        background-attachment: fixed;
    background-repeat: no-repeat;   
    background-position: center;
       
}

/**********header&headings*************/

header { 
    border-radius: 30px;
    background-color: #5f4b64; 
    color: #1a0900; 
    margin: 20px;
    padding: 20px;
    text-align: center; 

} 
#typing-headline { 
     font-family: BROPELLA;
    min-height: 80px; 
    border-right: 3px solid #4CAF50; 
    display: inline-block; 
    animation: blink 0.75s step-end infinite; 

} 

@keyframes blink { 
    from, to { border-color: transparent; } 
    50% { border-color: #200239; } 

}

h1 {
    font-family: BROPELLA;
    font-weight: 700;
}
h2 ,h3{
    font-family: stunning;
    font-size: 30px;
    margin: 10px 0px;
    padding: 10px 40px;
}


/************paragraphs**********/
p {
    font: optional;
    margin: 10px 10px;
    padding: 10px 40px;
}

.feedback {
    padding-left: 10px;


}


/************navs**********/

a{ 
     border-radius: 15px;
    font-weight: bold;
    font-size: larger;
    color: #260038;
    
}
 
nav {
    margin: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3f2d43;
    position: relative;
    height: 70px;

}

nav ul{
    display: flex;
    gap: 15px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
     font-weight: bold;
    color: #ffffff;
    opacity: 0.8;
    

}
nav a:hover { 
     border-bottom: 3px solid #260038;
    border-radius: 15px;
    transform:scale(0) translateY(50px);
     transition: .10s;
    font-weight: bold;
    font-size: larger;
    color: #260038;
    transform: scale(1) translateY(0);
    opacity: 1;
} 
.active{
    color: #ffcc00;
    font-weight: bolder;
    
}


.menu-icon{
    display: none;
}

.menu-icon{
    color: beige;
    font-size: 30px;

}
@media (max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #4e3c57;
        gap: 0px;
        overflow: hidden;
    }
    nav ul li{
        padding: 2px;
    }
    .menu-icon{
        display: block;
    }
}


 /**************images***********/
img {
    
    height: auto;
    margin: 20px 0px; 
    width: 300px;
    margin: 0px 0px;
    padding: 0px 40px;

}
.logo img {
    position: relative;
    width: 100px;
    max-width: 100px;
  
    height: auto;
    margin: 20px 0px; 
    margin: 0px 0px;
    padding: 0px 40px;
}

/*****************footer************/
footer {
    text-align: center;
    background-color: #1e1b21;
    margin-top: 20px;
    padding: 20px;
    font-size: 15px;
    color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


/*********buttons********/
button {
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 20px;
    font-weight: 600;
    background-color: #836791;
    color: #260038;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #260038;
    color: #ffffff;
    transform: scale(1.05);
}